<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>BannerServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.BannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookStoreServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.BookStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.BookDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.CashierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceipServlet</servlet-name>
        <servlet-class>cursojava.bookstore.servlets.ReceipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BannerServlet</servlet-name>
        <url-pattern>/banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreServlet</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/bookcatalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsServlet</servlet-name>
        <url-pattern>/bookdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierServlet</servlet-name>
        <url-pattern>/bookcashier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/bookshowcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceipServlet</servlet-name>
        <url-pattern>/bookreceipt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
